:root {
  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --red-500: #e25858;

  --blue-300: #4ea8de;
  --blue-500: #1e6f9f;

  --purple-300: #8284fa;
  --purple-500: #5e60ce;

  --white: #fff;
}

:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-600);
}

body,
input,
button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-style: normal;
}
